# VSCode extension packaging ignore rules (used by vsce)

# Dev / source
src/
**/*.ts
**/*.map
tsconfig.json
.eslintrc.json
.vscode/
.vscode-test/

# Tests / samples (optional)
# sample-cpp/

# Dependencies
node_modules/

# VSCE output artifacts
*.vsix

# Always keep required extension assets (runtime)
!out/**
!package.json
!media/**




